{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- styles block-->
    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}
<!-- end of styles -->

    {% block content %}
    <div class="jumbotron"style="background-color:cyan">
        <h3>NEWS SOURCES</h3>
           <p> From this one site you get all your favorite.</p>
            <p>Well, we bring you closer home. Click on either of the categories and get a link
                to your favorite news source and headlines. You also get a chance to get the entire news straight from its source.
            </p>
            <p>Click on the  tabs continue</p>
            <hr/>
    <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#general">GENERAL</a></li>
            <li><a data-toggle="tab" href="#business">BUSINESS</a></li>
            <li><a data-toggle="tab" href="#sports">SPORTS</a></li>
            <li><a data-toggle="tab" href="#technology">TECHNOLOGY</a></li>
            <li><a data-toggle="tab" href="#health">HEALTH</a></li>
            <li><a data-toggle="tab" href="#science">SCIENCE</a></li>
            <li><a data-toggle="tab" href="#entertainment">ENTERTAINMENT</a></li>
        </ul>
          <div class="tab-content">

            <div id="general" class="tab-pane fade">

                <!--general news section-->
                {{macro.displayNewsList(general)}}
            </div>
            <div id="sports" class="tab-pane fade">
                <!-- Sports news sources-->
                {{ macro.displayNewsList(sports) }}
            </div>
            <div id="technology" class="tab-pane fade">
                <!-- Technology news sources -->
                {{ macro.displayNewsList(technology) }}
            </div>
            <div id="entertainment" class="tab-pane fade">
                <!-- Entertainment news sources -->
                {{ macro.displayNewsList(entertainment) }}
            </div>
            <div id="health" class="tab-pane fade">
                <!-- Health news sources -->
                {{ macro.displayNewsList(health) }}
            </div>
            <div id="business" class="tab-pane fade">
                <!-- Business news sources -->
                {{macro.displayNewsList(business)}}
            </div>
            <div id="science" class="tab-pane fade">
                <!--Science news sources-->
                {{macro.displayNewsList(science)}}
            </div>
          </div>
    </div>
    <div class="jumbotron">
        <p>atienoanji</p>
    </div>
    {% endblock %}
